.nx/installation
.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*

node_modules
.pnpm-store/
/dist

.idea/
.vscode/

.claude/
CLAUDE.md

node_modules/
.nx/polygraph
.nx/self-healing